[Desktop Entry]
Categories=Utility;
Comment=Switch between light and dark.
Exec=koi
Icon=koi
Name=Koi
StartupNotify=true
StartupWMClass=koi
Terminal=false
Type=Application
