[Desktop Entry]
Categories=Utility;
Comment=Switch between light and dark.
Exec=Koi
Icon=koi
Name=Koi
StartupNotify=true
StartupWMClass=Koi
Terminal=false
Type=Application
