[Desktop Entry]
Type=Application
Version=1.5
Name=Koi
GenericName=Theme Switcher
Comment=Scheduling LIGHT/DARK Theme Switcher for the KDE Plasma Desktop
Icon=koi
DBusActivatable=true
Implements=dev.baduhai.Koi;local.KoiDbusInterface;org.freedesktop.DBus.Introspectable;org.freedesktop.DBus.Properties;org.freedesktop.DBus.Peer
TryExec=koi
Exec=koi
Terminal=false
Categories=Utility
Keywords=Theme;Switch;Light;Dark;Schedule;Sunrise;Sunset;Dusk;Dawn;Timer;Kvantum;Set;
StartupNotify=true
SingleMainWindow=true
StartupWMClass=Koi
