#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.5
Name=Koi
GenericName=Theme Switcher
Comment=Scheduling LIGHT/DARK Theme Switcher for the KDE Plasma Desktop
Icon=koi
DBusActivatable=false
TryExec=koi
Exec=koi
Terminal=false
Categories=Utility
Keywords=Theme; Switch; Light; Dark; Schedule; Sunrise; Sunset; Dusk; Dawn; Timer; Kvantum; Set;
StartupNotify=true
SingleMainWindow=true
StartupWMClass=Koi
